body {
    text-align: center;
}
form {
    display: inline-block;
}

.text-center {
    text-align: center;
}
.signup-container {
    text-align: center;
    margin-top: 20px;
}

.required, .error-message {
    color: red;
  }
h3 {
    color: white;
}